<header class="header">

  <div class="header__container">
    <a routerLink="/"
      (click)="closeMenu()"
      [attr.aria-label]="'HEADER.LOGO_LINK' | translate"
      class="header__logo">
      <span>ANGULAR</span>TEMPLATE
    </a>

    <button type="button"
      (click)="toggleMenu()"
      (keydown.enter)="toggleMenu()"
      [class.is-active]="isMenuOpen()"
      [attr.aria-expanded]="isMenuOpen()"
      aria-controls="main-nav"
      [attr.aria-label]="isMenuOpen() ? ('HEADER.CLOSE_MENU' | translate) : ('HEADER.OPEN_MENU' | translate)"
      class="header__burger">
      <span></span>
      <span></span>
      <span></span>
    </button>

    <nav id="main-nav"
        [class.is-open]="isMenuOpen()"
        class="header__nav">

      <ul class="header__list">
        <li class="header__item">
          <a routerLink="/public/home"
            routerLinkActive="active"
            (click)="closeMenu()"
            class="header__link">{{ 'HEADER.WELCOME' | translate }}
          </a>
        </li>
        <li class="header__item">
          <a routerLink="/public/contact"
            routerLinkActive="active"
            (click)="closeMenu()"
            class="header__link">{{ 'HEADER.CONTACT' | translate }}
          </a>
        </li>
        <li class="header__item header__item--admin">
          <a routerLink="/admin"
          routerLinkActive="active"
          (click)="closeMenu()"
          class="header__link">{{ 'HEADER.DASHBOARD' | translate }}
        </a>
        </li>
      </ul>

    </nav>

    <div class="header__actions">
      <language-toggle></language-toggle>
    </div>
  </div>

</header>

<div class="header__overlay"
  [class.is-visible]="isMenuOpen()"
  (click)="closeMenu()"
  (keydown.escape)="closeMenu()"
  (keydown.enter)="closeMenu()"
  (keydown.space)="$event.preventDefault(); closeMenu()"
  role="button"
  [tabindex]="isMenuOpen() ? 0 : -1"
  [attr.aria-label]="'HEADER.CLOSE_MENU' | translate">
</div>
