@use 'abstracts' as *;

:host {
  display: block;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 70px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background: var(--bg-header-color);
  z-index: 1100;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 20px;
    width: 100%;
    max-width: none;
    margin: 0 auto;
  }

  // --- LOGO ---
  &__logo {
    display: flex;
    align-items: center;
    flex: 0 1 auto;
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--text-black-color);

    span {
      color: var(--text-primary-color);
    }

    &:focus-visible {
      outline: 2px solid var(--text-primary-color);
      outline-offset: 5px;
    }
  }

  // --- NAVIGATION & MENU MOBILE ---
  &__nav {
    // Mobile Styles (Sliding Menu)
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    right: -100%;
    width: 280px;
    height: 100vh;
    padding: 100px 0 40px;
    gap: 40px;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
    transition: right 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    background: var(--bg-header-color);
    z-index: 1110;

    &.is-open {
      right: 0;

      .header__list li {
        @for $i from 1 through 8 {
          &:nth-child(#{$i}) .header__link {
            transition-delay: calc(0.2s + (#{$i} * 0.1s));
            opacity: 1;
            transform: translateX(0);
          }
        }
      }
    }

    // Desktop Styles (Centering)
    @include respond-to('tablet') {
      position: static;
      display: flex;
      justify-content: center;
      flex-direction: row;
      flex: 1;
      height: auto;
      width: auto;
      padding: 0;
      box-shadow: none;
      background: transparent;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 40px;
    list-style: none;

    @include respond-to('tablet') {
      flex-direction: row;
      gap: 30px;
      padding: 0;
    }
  }

  &__link {
    color: var(--text-black-color);
    font-size: 1.2rem;
    font-weight: 500;
    opacity: 0;
    transform: translateX(20px);
    transition:
      color 0.2s,
      transform 0.4s ease,
      opacity 0.4s ease;

    @include respond-to('tablet') {
      opacity: 1;
      transform: translateX(0);
    }

    &.active,
    &:hover {
      color: var(--text-primary-color);
    }
  }

  // --- ACTIONS (JUST DESKTOP VERSION) ---
  &__actions {
    display: none;

    @include respond-to('tablet') {
      display: flex;
      flex: 0 1 auto;
      justify-content: flex-end;
      align-items: center;
      gap: 30px;
    }
  }

  // --- ACTIONS IN NAV (JUST MOBILE VERSION) ---
  &__nav-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px 0;
    gap: 20px;
    border-top: 1px solid var(--primary-color);

    @include respond-to('tablet') {
      display: none;
    }

    .header__login-btn {
      width: 200px;
    }
  }

  // --- BURGER MENU ---
  &__burger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    margin-left: auto;
    padding: 0;
    background: transparent;
    border: none;
    z-index: 1120;

    span {
      width: 100%;
      height: 3px;
      border-radius: 10px;
      transition: all 0.3s ease;
      background: var(--primary-color);
    }

    &.is-active {
      span:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
      }
      span:nth-child(2) {
        opacity: 0;
      }
      span:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
      }
    }

    @include respond-to('tablet') {
      display: none !important;
    }
  }
}

// --- OVERLAY ---
.header__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 1050;

  &.is-visible {
    display: block;
  }

  @include respond-to('tablet') {
    display: none !important;
  }
}
