**/.git
**/node_modules
*.ts
.angular
.git
.htmlhintrc
angular.json
coverage/
dist/
eslint.config.js
eslint-security.config.js
package-lock.json
pnpm-lock.yaml
public/manifest.json
README.md
tsconfig.json
tsconfig.spec.json
yarn.lock
