<div
  class="c-field"
  [class]="className()">
  <label
    [for]="id()"
    class="c-field__label"
    >{{ label() | translate }}</label
  >

  <div class="c-field__wrapper">
    <input
      [id]="id()"
      [type]="inputType()"
      [formControl]="control()"
      [placeholder]="placeholder() | translate"
      class="c-field__input"
      [class.is-invalid]="control().invalid && control().touched" />

    @if (isPassword() && behaviors()?.hasPasswordToggle) {
      <button
        type="button"
        class="c-field__toggle"
        (click)="togglePassword()"
        [attr.aria-label]="(showPassword() ? 'AUTH.HIDE_PWD' : 'AUTH.SHOW_PWD') | translate">
        <i [class]="showPassword() ? 'fa-solid fa-eye-slash' : 'fa-solid fa-eye'"></i>
      </button>
    }
  </div>
</div>
