@use 'abstracts' as *;

:host {
  display: block;
}

.lang-toggle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  &__btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    padding: 0;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid rgb(124, 124, 124);
    background: #f8f8f8;
    transition:
      border-color 0.2s,
      background-color 0.2s;

    &:hover {
      border-color: var(--tertiary-color);
      background: white;
    }
  }

  &__icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
}
