<div class="lang-toggle">
  @if (currentLang() === 'fr') {
    <button
      type="button"
      class="lang-toggle__btn"
      [class.lang-toggle__btn--active]="currentLang() === 'en'"
      (click)="switchLanguage('en')"
      [attr.aria-label]="'UI_COMPONENTS.LANGUAGE_TOGGLE' | translate">
      <img
        src="assets/icons/flags/en.png"
        alt="EN"
        class="lang-toggle__icon" />
    </button>
  } @else {
    <button
      type="button"
      class="lang-toggle__btn"
      [class.lang-toggle__btn--active]="currentLang() === 'fr'"
      (click)="switchLanguage('fr')"
      [attr.aria-label]="'UI_COMPONENTS.LANGUAGE_TOGGLE' | translate">
      <img
        src="assets/icons/flags/fr.png"
        alt="FR"
        class="lang-toggle__icon" />
    </button>
  }
</div>
