@use 'abstracts' as *;

:host {
  display: block;
}

.scroll-top {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 3px solid var(--primary-color);
  border-radius: 50%;
  background-color: var(--white-color);
  opacity: 0;
  transition: all 0.2s ease-in-out;
  z-index: 10000;

  &--visible {
    display: flex;
    opacity: 1;
  }

  &:hover {
    background-color: var(--primary-color);

    .scroll-top__icon {
      color: var(--white-color);
      animation: rubber-band 1.5s linear 0s infinite reverse;
    }
  }

  @include respond-to('mobile') {
    width: 3.5rem;
    height: 3.5rem;
    right: 2vw;
    bottom: 2vh;
    line-height: 28px;
  }

  @include respond-to('desktop') {
    width: 4rem;
    height: 4rem;
    right: 2vw;
    bottom: 2vh;

    .scroll-top__icon {
      font-size: 35px;
    }
  }

  @include respond-to('desktop-xl') {
    width: 4.4rem;
    height: 4.4rem;
    right: 2.3vw;
    bottom: 4vh;

    .scroll-top__icon {
      font-size: 40px;
    }
  }

  &__icon {
    font-size: 30px;
    color: var(--primary-color);
    transition: color 0.2s ease-in-out;
    background: transparent;
  }

  &__tooltip {
    background-color: var(--white-color);
  }
}
