@use 'abstracts' as *;

:host {
  display: block;
}

.home {
  padding: 2rem 1rem;

  &__hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    @include respond-to('tablet') {
      flex-direction: row;
      justify-content: center;
      max-width: 1000px;
      margin: 0 auto;
    }
  }

  &__logo {
    max-width: 120px;
  }

  &__divider {
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, var(--primary-blue), var(--primary-violet));

    @include respond-to('tablet') {
      width: 1px;
      height: 200px;
    }
  }
}
