@use 'abstracts' as *;

:host {
  display: block;
}

.home {
  padding: 2rem 1rem;

  &__hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    @include respond-to('tablet') {
      flex-direction: row;
      justify-content: center;
      max-width: 500px;
      margin: 0 auto;
      text-align: left;
    }
  }

  &__welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5rem;

    @include respond-to('tablet') {
      align-items: flex-start;
      text-align: center;
    }
  }

  &__logo {
    max-width: 200px;
    height: auto;
    margin: 0 auto;
  }

  &__title {
    font-size: 2.5rem;
    color: var(--text-color);
    margin: 0 auto;
  }

  &__description {
    max-width: 600px;
    line-height: 1.6;
    strong {
      color: var(--primary-color);
    }
  }

  &__accent {
    color: var(--primary-color);
    font-weight: bold;
  }

  &__divider {
    display: none;

    background: linear-gradient(
      90deg,
      var(--primary-color) 0%,
      oklch(from var(--primary-color) l c h) 25%,
      var(--secondary-color) 100%
    );

    @include respond-to('tablet') {
      display: block;
      width: 2px;
      height: 150px;
      flex-shrink: 0;
      margin: 0 1rem;

      background: linear-gradient(
        180deg,
        var(--primary-color) 0%,
        oklch(from var(--primary-color) l c h) 25%,
        var(--secondary-color) 100%
      );
    }
  }
}
