<section class="home">
  <div class="home__hero">
    <div class="home__welcome">
      <img
        src="assets/logos/pizza-logo.png"
        alt="Pizza Logo"
        class="home__logo" />
      <h1 class="home__title">{{ 'HOME.TITLE' | translate }}</h1>
      <p class="home__description">
        {{ 'HOME.WELCOME_PREFIX' | translate }}
        <strong class="home__accent">{{ 'PROJECT_NAME' | translate }}</strong>
        {{ 'HOME.WELCOME_SUFFIX' | translate }}
      </p>
    </div>

    <div
      class="home__divider"
      aria-hidden="true"></div>

    <div class="home__resources">
      <!-- <div class="pill-group">
        @for (item of resources; track item.title) {
          <a class="pill" [href]="item.link" target="_blank" rel="noopener">
            <span>{{ item.title }}</span>
            <i class="icon-external-link"></i> </a>
        }
      </div> -->
    </div>
  </div>
</section>
