@use 'abstracts' as *;

:host {
  display: block;
}

.home {
  padding: 2rem 1rem;

  &__hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    @include respond-to('tablet') {
      flex-direction: row;
      justify-content: center;
      max-width: 1000px;
      margin: 0 auto;
    }
  }

  &__logo {
    max-width: 200px;
  }

  &__divider {
    width: 100%;
    height: 1px;
    background: linear-gradient(
      90deg,
      var(--primary-color) 0%,
      oklch(from var(--primary-color) l c h) 25%,
      var(--secondary-color) 100%
    );

    @include respond-to('tablet') {
      width: 2px;
      height: 150px;
      flex-shrink: 0;
      margin: 0 2rem;

      background: linear-gradient(
        180deg,
        var(--primary-color) 0%,
        oklch(from var(--primary-color) l c h) 25%,
        var(--secondary-color) 100%
      );
    }
  }
}
