@mixin respond-to($breakpoint) {
  @if $breakpoint == 'mobile' {
    @media (min-width: 550px) {
      @content;
    }
  }
  @if $breakpoint == 'tablet' {
    @media (min-width: 768px) {
      @content;
    }
  }
  @if $breakpoint == 'desktop' {
    @media (min-width: 1024px) {
      @content;
    }
  }
  @if $breakpoint == 'desktop-xl' {
    @media (min-width: 1650px) {
      @content;
    }
  }
}
