@use 'abstracts' as *;

:host {
  display: block;
}

.c-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;

  &__fields {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    margin-bottom: 2rem;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    @include respond-to('desktop') {
      flex-direction: row-reverse;
      justify-content: space-between;
      gap: 1.5rem;

      main-button {
        flex: 1;
      }
    }
  }
}
