<footer class="footer">
  <div class="footer__container">
    <ul class="footer__social-list">
      @for (link of socialLinks; track link.label) {
        <li class="footer__social-item">
          @if (link.path) {
            <a
              [routerLink]="[link.path]"
              [attr.aria-label]="link.label + '.ARIA' | translate"
              [matTooltip]="link.label + '.TOOLTIP' | translate"
              matTooltipPosition="above"
              matTooltipShowDelay="600"
              class="footer__link">
              <fa-icon
                [icon]="link.icon"
                class="footer__icon" />
            </a>
          } @else {
            <a
              [href]="link.href"
              target="_blank"
              rel="noopener noreferrer"
              [attr.aria-label]="link.label + '.ARIA' | translate"
              [matTooltip]="link.label + '.TOOLTIP' | translate"
              matTooltipPosition="above"
              matTooltipShowDelay="600"
              class="footer__link">
              <fa-icon
                [icon]="link.icon"
                class="footer__icon" />
            </a>
          }
        </li>
      }
    </ul>
  </div>

  <p class="footer__copyright">
    {{ 'FOOTER.COPYRIGHT' | translate: { year: currentYear } }}
    <a
      [href]="externalLinks.portfolio"
      target="_blank"
      rel="noopener noreferrer"
      [attr.aria-label]="'FOOTER.LINKS.PORTFOLIO.ARIA' | translate"
      [matTooltip]="'FOOTER.LINKS.PORTFOLIO.TOOLTIP' | translate"
      matTooltipPosition="left"
      matTooltipShowDelay="600"
      class="footer__owner"
      >{{ 'FOOTER.OWNER_NAME' | translate }}
    </a>
    - {{ 'FOOTER.RIGHTS_RESERVED' | translate }}
  </p>
</footer>
