@use 'abstracts' as *;

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0 3rem 0;
  background-color: var(--bg-color);
}

.c-mock-admin-btn {
  font-weight: bold;
  padding: 0.6rem 1.2rem;
  color: var(--text-primary-color);
  border-radius: 6px;
  border: 2px solid var(--primary-color);
  transition: all 0.2s ease;
  background: var(--white-color);

  &:hover {
    color: var(--text-white-color);
    background: var(--primary-color);
    opacity: 0.8;
    transform: translateY(-1px);
  }

  &:active {
    transform: translateY(0);
  }
}
