/*===============BASE===============*/
// (Reset, Typo)
@use 'styles/base/reset';
@use 'styles/base/typography';
@use 'styles/base/animations';

/*===============LAYOUT===============*/
// (Header, Footer, Grid, Sidebar)
@use 'styles/layout/admin-layout';
@use 'styles/layout/main-layout';

/*===============THEMES===============*/
// (Light/Dark Mode)
@use 'styles/themes/theme-variables';
@use 'styles/themes/light-theme';
