/*------Rubber Band------*/
.rubber-band {
  animation-name: rubber-band 0.5s ease-in-out;
}
@keyframes rubber-band {
  from {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes rubber-band {
  from {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}

/*------Slide Left------*/
.slide-left {
  animation: slide-left 0.5s ease-in-out;
}
@keyframes slide-left {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@-webkit-keyframes slide-left {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

/*------Slide Bottom------*/
.slide-bottom {
  animation: slide-bottom 0.5s ease-in-out;
}
@keyframes slide-bottom {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
@-webkit-keyframes slide-bottom {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

/*------Bounce------*/
.bounce {
  animation: bounce 0.5s ease-in-out;
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/*------Fade In------*/
.fade-in {
  animation: fade-in 0.5s ease-in-out;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*------Head Shake------*/
.head-shake {
  animation: head-shake 0.5s ease-in-out;
}
$shake-intensity: 1%;
@keyframes head-shake {
  25% {
    transform: translateX($shake-intensity);
  }
  75% {
    transform: translateX($shake-intensity * -1);
  }
}
@-webkit-keyframes head-shake {
  25% {
    transform: translateX($shake-intensity);
  }
  75% {
    transform: translateX($shake-intensity * -1);
  }
}
