*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

// --- DOCUMENT ROOT ---
html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  height: 100%;
}

// --- BODY ---
body {
  height: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

// --- REACTIVATING SELECTION (UX CRITICAL) ---
input,
textarea,
[contenteditable='true'] {
  user-select: text;
  -webkit-user-select: text;
}

// --- MEDIAS ---
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

// --- FORMS / INTERACTIVES ELEMENTS ---
button,
input,
select,
textarea {
  font: inherit;
  color: inherit;
  border: none;
  background: none;
}

button {
  cursor: pointer;
  &:disabled {
    cursor: not-allowed;
  }
}

// --- LINKS / NAV ---
a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

// --- LISTS ---
ul,
ol {
  list-style: none;
}
