*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* =========== DOCUMENT ROOT =========== */
html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
}

/* =========== BODY =========== */
body {
  height: 100%;
  overflow-x: hidden;
}

/* =========== MEDIAS =========== */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* =========== LISTS =========== */
ul,
ol {
  list-style: none;
}
